#login[_ngcontent-c10] header.md-accent.md-hue-2[_ngcontent-c10] {
    background: #f16334 !important;
}

.mat-raised-button.mat-primary {
    background: #f16334 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}

footer {
    display: none !important;
}

#login>#container>#form_container {
    padding: 0;
}

#login a {
    color: #289a9f;
}

#login a:active {
    color: #289a9f;
}

.mat-toolbar.mat-primary {
    background: #102836 !important;
}

.mat-sidebar>section>header {
    background: #102836 !important;
}
